<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    nav {
        padding: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        font-family: "Poppins", sans-serif;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 36px;
        list-style-type: none;
    }

    li a {
        text-decoration: none;
    }

    #logo {
        font-size: 20px;
        font-weight: bold;
        color: #153d3d;
    }

    nav button {
        padding: 5px 20px;
        border-radius: 15px;
        border: transparent;
        background-color: #153d3d;
        color: white;
        font-family: "Poppins", sans-serif;
    }

    .button {
        border-radius: 20px;
        border: transparent;
        font-weight: bold;
        font-size: 16px;
        height: 100%;
    }
</style>
<nav>
    <p id="logo">BookShelf</p>
    <ul class="links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/books">All Books</a>
        </li>
        <li>
            <a href="/books/new">Add Books</a>
        </li>
    </ul>
    <button>Sign Up</button>
</nav>